<div class="container">
  <div class="row">
    <!--검색 바-->
    <div class="input-group input-group-lg">
      <input type="text" class="form-control" placeholder="Input game title" #keyword (keyup.enter)="moveToResultPage(keyword.value)">
      <span class="input-group-btn">
        <button class="btn btn-default" (click)="moveToResultPage(keyword.value)"> 검색 </button>
      </span>
    </div>

    <!--랭킹 파트-->
    <article class="col-xs-12 col-md-offset-2 col-md-8">
      <!--랭킹 스위치 파트-->
      <div class="ranking-part">
        <div class="ranking-type-buttongroup row">
          <button class="btn col-xs-4 col-md-2"
                  [class.btn-primary]="isTasteGameRanking"
                  [class.btn-defualt]="isWholeGameRanking"
                  (click)="getPredictedRate(gameRates); changeToTasteRanking();"
          > 취향 랭킹 </button>
          <button class="btn col-xs-4 col-md-2"
                  [class.btn-primary]="isWholeGameRanking"
                  [class.btn-defualt]="isTasteGameRanking"
                  (click)="getGameRates(); changeToWholeRanking();"
          > 전체 랭킹 </button>
        </div>
      </div>

      <!--취향 랭킹 리스트 파트-->
      <div class="ranking-list-container panel panel-default" *ngIf="isTasteGameRanking">
        <ul class="ranking-list list-group">
          <li class="ranking-element list-group-item row" *ngFor="let prediectedGameRate of prediectedGameRates; let i = index;">
            <div class="index col-xs-1"> {{ i + 1 }} </div>
            <div class="game-title col-xs-10"><a (click)="moveToGameDetailPage( prediectedGameRate.gr_title)" > {{ prediectedGameRate.gr_title }} </a></div>
            <div class="game-rate col-xs-1" > {{ prediectedGameRate.rate }} </div>
          </li>
        </ul>
      </div>

      <!--전체 랭킹 리스트 파트-->
      <div class="ranking-list-container panel panel-default" *ngIf="isWholeGameRanking">
        <ul class="ranking-list list-group">
          <li class="ranking-element list-group-item row" *ngFor="let gameRate of gameRates | slice:0:20; let i = index;">
            <div class="index col-xs-1"> {{ i + 1 }} </div>
            <div class="game-title col-xs-10"><a (click)="moveToGameDetailPage(gameRate.gr_title)" > {{ gameRate.gr_title }} </a></div>
            <div class="game-rate col-xs-1" > {{ gameRate.rate }} </div>
          </li>
        </ul>
      </div>

      <button class="btn btn-primary more" (click)="getPredictedRate( gameRates )"> 더보기 </button>
    </article>
  </div>
</div>
