<!--컨텐츠 컨테이너-->
<div class="container" >
  <div class="row">

    <!--검색 바-->
    <div class="input-group input-group-lg">
      <input type="text" class="form-control" placeholder="Input game title" #keyword (keyup.enter)="moveToResultPage(keyword.value)">
      <span class="input-group-btn">
        <button class="btn btn-default" (click)="moveToResultPage(keyword.value)"> 검색 </button>
      </span>
    </div>

    <!--랭킹 파트-->
    <article class="col-xs-12 col-md-8">
      <!--랭킹 스위치 파트-->
      <div class="ranking-part">
        <div class="ranking-type-buttongroup row">
          <button class="btn btn-default col-xs-4 col-md-2 col-md-offset-10 " (click)="moveToRankMorePage()"> 더 보기 </button>
        </div>
      </div>


      <!--전체 랭킹 리스트 파트-->
      <div class="ranking-list-container panel panel-default" >
        <ul class="ranking-list list-group">
          <li class="ranking-element list-group-item row" *ngFor="let gameRate of gameRates | slice:0:10; let i = index;">
            <div class="index col-xs-1"> {{ i + 1 }} </div>
            <div class="game-title col-xs-10"><a (click)="moveToGameDetailPage(gameRate.gr_title)" > {{ gameRate.gr_title }} </a></div>
            <div class="game-rate col-xs-1" > {{ gameRate.rate }} </div>
          </li>
        </ul>
      </div>
    </article>

    <!--취향 파트-->
    <aside class="col-xs-12 col-md-4">
      <!--취향 그래프 파트-->
      <div class="taste-graph panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"> 당신의 취향 그래프 </h3>
        </div>
        <div class="panel-body">
          <!--게임 평점 그래프-->
            <div class="5-grape-point">
              <div class="col-xs-1 label label-primary"> 5 </div>
              <div class="progress">
                <div class="progress-bar progress-bar-info" [style.width.%]="countGameRate[0]">
                  {{ countGameRate[0] }}%
                </div>
              </div>
            </div>
            <div class="4-grape-point">
              <div class="col-xs-1 label label-primary"> 4 </div>
              <div class="progress">
                <div class="progress-bar progress-bar-info" [style.width.%]="countGameRate[1]">
                  {{ countGameRate[1] }}%
                </div>
              </div>
            </div>
            <div class="3-grape-point">
              <div class="col-xs-1 label label-primary"> 3 </div>
              <div class="progress">
                <div class="progress-bar progress-bar-info" [style.width.%]="countGameRate[2]">
                  {{ countGameRate[2] }}%
                </div>
              </div>
            </div>
            <div class="2-grape-point">
              <div class="col-xs-1 label label-primary"> 2 </div>
              <div class="progress">
                <div class="progress-bar progress-bar-info" [style.width.%]="countGameRate[3]">
                  {{ countGameRate[3] }}%
                </div>
              </div>
            </div>
            <div class="1-grape-point">
              <div class="col-xs-1 label label-primary"> 1 </div>
              <div class="progress">
                <div class="progress-bar progress-bar-info" [style.width.%]="countGameRate[4]">
                  {{ countGameRate[4] }}%
                </div>
              </div>
            </div>
        </div>
      </div>
    </aside>
  </div>
</div>
