.form-control {
  width: 100%;
}

.input-group {
  margin-top : 0px;
  margin-bottom : 20px;
}

.ranking-part > .row {
  margin: 0px;
}

.label {
  height: 20px;
  margin-right: 5px;
  margin-left: 10px;
  padding-top: .3em;
  padding-bottom: .3em;
  font-size: 100%;
}

.progress-bar {
  min-width: 2em;
}
