<!--네비게이션-->
<nav class="navbar navbar-default">
  <a [routerLink]="''"> <img class="brand-img" src="http://placehold.it/150x100" alt=""> </a>
  <a (click)="toggleMenu(event)"> <img class="user-thumbnail" src="http://placehold.it/80x80" alt=""> </a>
</nav>
<nav class="row" *ngIf="isOpen">
  <a class="col-xs-12 col-md-4 btn btn-default" href="/"> 마이페이지 1 </a>
  <a class="col-xs-12 col-md-4 btn btn-default" href="/"> 마이페이지 2 </a>
  <a class="col-xs-12 col-md-4 btn btn-default" href="/"> 마이페이지 3 </a>
</nav>
<router-outlet></router-outlet>
